[Desktop Entry]
Name=Pathological
Comment=A puzzle game involving paths and marbles
Comment[pl]=Układanka ze ścieżkami i kafelkami
Icon=pathological
Exec=pathological
Terminal=false
Type=Application
Categories=Game;LogicGame;
# vi: encoding=utf-8